@import "../../style/abstract";

.chart{
    width: 40vw !important;
    height: 250px !important;
    margin:20px;
    @include media-mobile{
        width: 70vh !important;
    }
}
.longstats-container{
    display: flex;
    justify-content: space-evenly;
    & h4{
        text-align: center;
    }
    @include media-mobile{
        flex-direction: column;
      }
}